/* Zero out the body margins and padding so page is flush */
body {
    background-color: grey;
    margin: 0;
    padding: 0;
}

/* Add and align header */
header .headerWidth {
    height: 73.6px;
    width: 960px;
    margin: auto;
    background-color: #ffffff;
}
/* The white box that extends past the 960px width */
header{
    height: 73.6px;
    margin: 0;
    background-color: #ffffff;
    border-bottom: 4px solid #cccccc;
}

/* h1 style at top of page */
h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    float: left;
    padding: 20px;
    margin: 0px;
}

/* float the nav section to the right */
.navProperties {
    width: 262px;
    text-align: right;
    float: right;
    /* center navigation bar */
    padding-top: 11.6px;
    margin-top: 0px;
    cursor: pointer;
}

/* make navigation list horizontal and put horizontal lines between */
nav ul {
    list-style: none;
}

nav li {
    display: inline;
}

/* make hash marks as per stack overflow. Uses pseudo classes. */
nav li:not(:first-child):before{
    content: " | ";
    color: #777777;
}

/* alter color, text decoration, and font of navigation links */
nav a {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* specify font size and padding (in nav) to center navigation (70px) */
    font-size: 16px;
    text-decoration: none;
}

/* clear the float when needed */
.clear {
    clear: both;
}

/* style for header on each individual page */
h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding-bottom: 5px;
    border-bottom: 1px solid #777777;
}

/* Overall Section with width of 920px */
.allSections {
    width: 960px;
    margin: auto;
}

/* content style when there is only one section */
.oneSection {
    background-color: #ffffff;
    width: 598px;
    padding: 20px 20px 40px 20px;
    border: 1px solid #dddddd;
    margin-top: 50px;
    margin-bottom: 50px;
    float: left;
}

.Section2 {
    background-color: #ffffff;
    width: 220px;
    padding: 20px 20px 40px 20px;
    border: 1px solid #dddddd;
    margin-top: 50px;
    margin-bottom: 50px;
    float: right;
}

.container {
    width: 49%;
    display: inline-block; 
}

.portfolioPicture {
    width: 98%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.connectwithmecontainer {
    width: 64px;
    height: 64px;
    display: inline-block;
}

/* Float image to left and allow text to wrap around it */
.floatImage {
    float: left;
}

.imagePadding {
    padding-right: 20px;
    padding-bottom: 20px;
    width: 200px;
}

.ConnectWithMeImages {
    height: 100px;
    width: 100px;
    float: left;
}

.clearfix::after {
    clear: both;
}

.imageTextBox {
    color: #ffffff;
    background-color: #4aaaa5;
    position: relative;
    text-align: center;
    width:98%;
    padding: 20px 0px;
    bottom: 80px;
}

.width100 {
    width: 100%;
}

/* style of plain text */
p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.formText {
    margin-bottom: 0px;
}

/* Extend boxes across page */
.formBox {
    width: 100%;
}

.formLargeBox {
    width: 100%;
    height: 200px;
}

#button {
    background-color:#4aaaa5;
    color: #ffffff;
    border: 0px;
    padding: 10px;
}

/* Positions the footer fixed to the bottom of the page and centered */
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* add border and copywrite text format at bottom of page */
.footerText {
    color: #ffffff;
    background-color: #666666;
    font-size: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 30px;
    border-top: 5px solid #4aaaa5;
}

/* ******************MEDIA TAGS********************* */

@media only screen and (max-width: 1000px) {

    /* Have a margin on both sides of the sections */

    header .headerWidth {
        width: auto;
        margin-right: 10px;
        margin-left: 10px;
    }

    .allSections {
        margin-right: 10px;
        margin-left: 10px;
    }

}

@media only screen and (max-width:962px) {

    /* Make the "Contact Me" Section Move To The Bottom */

    .allSections {
        width: auto;
    }

    .oneSection {
        float: none;
        clear: both;
        width: auto;
    }

    .Section2 {
        float: none;
        clear: both;
        width: auto;
    }

}

/* Media changes at 569px */

@media only screen and (max-width: 641px) {

    header .headerWidth {
        height: 125px;
        margin: 0px;
    }
    
    h1 {
        float: none;
        width: auto;
        text-align: center;
    }

    .navProperties {
        width: auto;
        text-align: center;
        float: none;
        /* center navigation bar */
        padding-top: 3px;
        margin-top: 0px;
        cursor: pointer;
    }

    nav ul {
        padding: 0px;
    }

    /* Text is to go under the picture at this width in index.html*/
    .floatImage {
        float: none;
    }

    .imagePadding {
        padding-right: 0px;
        width: 100%;
    }

    /* Portfolio Pictures Go One Under The Other */

    .container {
        width: 100%;
    }

    .portfolioPicture {
        width: 100%;
        padding-bottom: 2%;
    }
}